<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets async="true">
		<target xsi:type="Console"
          name="console"
          layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />


		<target xsi:type="File"
				name="webApiFile"
				fileName="${basedir}/logs/webapi/current.log"
				archiveFileName="${basedir}/logs/webapi/archive/${shortdate}.{#}.log"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveOldFileOnStartup="true"
				maxArchiveFiles="30"
				maxArchiveDays="14"
				keepFileOpen="false"
				createDirs="true"
				layout="${longdate}|${uppercase:${level}}|${logger}|requestId=${scopeproperty:item=RequestId}|${message}${onexception:inner= ${exception:format=tostring}}" />
		
		<target xsi:type="File"
				name="ControllersFile"
				fileName="${basedir}/logs/controllers/current.log"
				archiveFileName="${basedir}/logs/controllers/archive/${shortdate}.{#}.log"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveOldFileOnStartup="true"
				maxArchiveFiles="30"
				maxArchiveDays="14"
				keepFileOpen="false"
				createDirs="true"
				layout="${longdate}|${uppercase:${level}}|${logger}|requestId=${scopeproperty:item=RequestId}|${message}${onexception:inner= ${exception:format=tostring}}" />

	</targets>

	<rules>
		<logger name="*Controller" minlevel="Information" writeTo="console,ControllersFile" final="true" />
		
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Information" writeTo="console,webApiFile" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" minlevel="Warn" writeTo="console,webApiFile" final="true" />

		<logger name="System.*" maxlevel="Info" final="true" />
		<logger name="System.*" minlevel="Warn" writeTo="console,webApiFile" final="true" />

		<logger name="*" minlevel="Information" writeTo="console" />
	</rules>

</nlog>