<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".zip" />
      <remove fileExtension=".bat" />
      <remove fileExtension=".sh" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".zip" mimeType="application/zip" />
      <mimeMap fileExtension=".bat" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".sh" mimeType="text/x-shellscript" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="01:00:00" />
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>
    <httpErrors errorMode="Custom" existingResponse="PassThrough">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
